{% extends '../base.html' %}
{% block content %}
    {% load markdownify %}
    <main>
        <div>
            <h1>{{ projectdetail.name }}</h1>
            {{ projectdetail.description|markdownify }}
            <h2>Tasks</h2>
            <p><a href="{% url 'create_task'%}">Create a new task</a></p>
            {% if projectdetail.tasks.all|length == 0 %}
                <p>This project has no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in projectdetail.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                {% if task.is_completed == False %}
                                    <td>No</td>
                                {% else %}
                                    <td>Yes</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>
    </main
{% endblock %}